# Node dependencies
pts-web/node_modules/

pts-Api/node_modules/
# Package lock
pts-web/package-lock.json
pts-Api/package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE / Editor
.vscode/
.idea/

# Coverage
coverage/
